<div class="footer">
<div class="footer-logo">
  <!-- <div class="logo-dot"></div> -->
</div>
<div class="Products">
  <ul>
    <a href=""><li><h1>Products</h1></li></a>
    <a href=""><li>Headphones</li></a>
    <a href=""><li>earphones</li></a>
    <a href=""><li>speakers</li></a>
    <a href=""><li>accessories</li></a>
    <a href=""><li>collaborations</li></a>
    <a href=""><li>Beatsaudio</li></a>
    <a href=""><li>speacial offers</li></a>
  </ul>
</div>
<div class="Support">
  <ul>
    <a href=""><li><h1>Support</h1></li></a>
    <a href=""><li>Product Help</li></a>
    <a href=""><li>Service & Warranty</li></a>
    <a href=""><li>Register your beats</li></a>
    <a href=""><li>Update your beats</li></a>
    <a href=""><li>Authorized service providers</li></a>
    <a href=""><li>contact support</li></a>
    <a href=""><li>international numbers</li></a>
  </ul>
</div>
<div class="footer-Company">
  <ul>
    <li><h1><a href="">Company</a></h1></li>
    <a href=""><li>Product help</li></a>
    <a href=""><li>News and events</li></a>
    <a href=""><li>promotion terms</li></a>
    <a href=""><li>privacy policy</li></a>
    <a href=""><li>trademark</li></a>
    <a href=""><li>terms of use</li></a>
    <a href=""><li>cookies</li></a>
  </ul>
</div>
<div class="footer-icons">
  <ul>
    <li><h1>Follow Us</h1></li>
    <li><img src="../../images/footer.png" alt="icon"></li>
  </ul>
</div>

  </div>
  <div class="footer-copyright">
    <span>Copyright © 2020 Apple Inc. - All rights reserved.</span>
  </div>
