<footer>
    <ul class="footer">
      <li class="footer__img"><a href="" >
        <ul><img src="../images/Page.png" alt=""></ul>
      </a></li>
      <li><a href="" class="footer__title">products</a>
        <ul class="footer__submenu">
          <li><a href="">Headphones</a></li>
          <li><a href="">earphones</a></li>
          <li><a href="">speakers</a></li>
          <li><a href="">accessories</a></li>
          <li><a href="">collaborations</a></li>
          <li><a href="">Beatsaudio</a></li>
          <li><a href="">speacial offers</a></li>
        </ul>
      </li>
      <li><a href="" class="footer__title">support</a>
        <ul class="footer__submenu">
          <li><a href="">Product Help</a></li>
          <li><a href="">Service & Warranty</a></li>
          <li><a href="">Register your beats</a></li>
          <li><a href="">Update your beats</a></li>
          <li><a href="">Authorized service providers</a></li>
          <li><a href="">contact support</a></li>
          <li><a href="">international numbers</a></li>
        </ul>
      </li>
      <li><a href="" class="footer__title">Company</a>
        <ul class="footer__submenu">
          <li><a href="">Product help</a></li>
          <li><a href="">News and events</a></li>
          <li><a href="">promotion terms</a></li>
          <li><a href="">privacy policy</a></li>
          <li><a href="">trademark</a></li>
          <li><a href="">terms of use</a></li>
          <li><a href="">cookies</a></li>
        </ul>
      </li>
      <li><a href="" class="footer__title">follow us</a>
 <span class="footer__icons">
   <a href="" class="footer__icons"><img src="../images/icons/icon-in.png" alt=""></a>
   <a href="" class="footer__icons"><img src="../images/icons/icon-fb.png" alt=""></a>
   <a href="" class="footer__icons"><img src="../images/icons/icon-tw.png" alt=""></a>
   <a href="" class="footer__icons"><img src="../images/icons/icon-wt.png" alt=""></a>
 </span>   
      </li>
      <ul class="footer__description">
        <li>Copyright © 2020 Apple Inc. - All rights reserved.</li>
      </ul>
    </ul>

  </div>
</footer>