<div class="footer">
<div class="footer-logo">
  <ul>
<li><img src="../../images/Page.png" alt=""></li>
  </ul>
</div>
<div class="Products">
  <ul>
    <li><h1><a href="">Products</a></h1></li>
    <li><a href="">Headphones</a></li>
    <li><a href="">earphones</a></li>
    <li><a href="">speakers</a></li>
    <li><a href="">accessories</a></li>
    <li><a href="">collaborations</a></li>
    <li><a href="">Beatsaudio</a></li>
    <li><a href="">speacial offers</a></li>
  </ul>
</div>
<div class="Support">
  <ul>
    <li><h1><a href="">Support</a></h1></li>
    <li><a href="">Product Help</a></li></a>
    <li><a href="">Service & Warranty</a></li>
    <li><a href="">Register your beats</a></li>
    <li><a href="">Update your beats</a></li>
    <li><a href="">Authorized service providers</a></li>
    <li><a href="">contact support</a></li>
    <li><a href="">international numbers</a></li>
  </ul>
</div>
<div class="footer-Company">
  <ul>
    <li><h1><a href="">Company</a></h1></li>
    <li><a href="">Product help</a></li>
    <li><a href="">News and events</a></li>
    <li><a href="">promotion terms</a></li>
    <li><a href="">privacy policy</a></li>
    <li><a href="">trademark</a></li>
    <li><a href="">terms of use</a></li>
    <li><a href="">cookies</a></li>
  </ul>
</div>
<div class="footer-icons">
  <ul>
    <li><h1>Follow Us</h1></li>
    <li><img src="../../images/footer.png" alt="icon"></li>
  </ul>
</div>

  </div>
  <div class="footer-copyright">
    <span>Copyright © 2020 Apple Inc. - All rights reserved.</span>
  </div>
