<header>
    <nav class="nav">
      
      <span id="trigger" class="trigger">
      <i></i>
      <i></i>
      <i></i>

    </span>
    <div class="nav__logo"></div>
      <ul id="menu" class="menu">
        <li><a href="">HEADPHONES</a></li>
        <li><a href="">EARPHONES</a></li>
        <li><a href="">SPEAKERS</a></li>
        <li><a href="">EXPLORE</a></li>
      </ul>
      <div class="sub-logo">
      <div class="logo-One"></div>
      <div class="logo-Two"></div>  
      <div class="logo-Three"></div>
    </div>
  
    </nav>

  </div>
</header>