<div class="navbar">
  <div class="navbar__logo">
      <div class="navbar__logo logo-dot"></div>
  </div>
  <div class="navbar__menu">
    <nav>
      <ul>
        <li><a href="#">headphones</a></li>
        <li><a href="#">earphones</a></li>
        <li><a href="#">speakers</a></li>
        <li><a href="#">explore</a></li>
      </ul>
    </nav>
  </div>
<div class="navbar__icons">
  <a href="#" class="navbar__icons search-icon"></a>
  <a href="#" class="navbar__icons user-icon"></a>
  <a href="#" class="navbar__icons shape-icon"></a>
</div>
</div>
