* {
  box-sizing: border-box;
}
html, body {

}

body {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
}

nav {
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  position: fixed;
  display: block;
  width: 100%;
  height: 90px;
  text-align: center;
  mix-blend-mode: normal;
  font-style: normal;
  text-transform: uppercase;

  background-color:rgba(25, 23, 32, 0.47);
}
nav > ul {
  list-style: none;
  padding:0 60px;
  margin-left: 50px;
  display: flex;


}

nav > ul > li {
  display: block;

}

nav > ul > li > a {
  display: block;
  color: white;
  font-size: 15px;
  padding: 22px 20px;
  line-height: 15px;
  text-decoration: none;
  font-family: Montserrat;
  letter-spacing: 0.90909px;
  font-style: normal;
  font-weight: 400;

}

.page-title {
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  word-break: break-all;
  line-height: 0.85;
}

.page-title > i {
  display: block;
  font-size: 2em;
  margin-bottom: 0.3em;
}

footer {
  background: #282828;
  color: beige;
  flex: 1 0 auto;
  padding-top: 20px;
}

footer a {
  color: beige;
}

footer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

footer > ul > li {
  display: block;
}

footer > ul > li > a {
  display: block;
  font-size: 21px;
  padding: 10px 20px;
}

.spacer {
  flex: 2 1 auto;
}
