* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
}

body {
font-weight: bold;
}
input, button {
  cursor: pointer;
}
ul {
  list-style: none;
}
.spacer {
  flex: 2 1 auto;
}
