
$bg-color: pink;
body {
 background: $bg-color;
}
.container {
    width: 1248px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color:rgba(25, 23, 32, 0.47);
    margin: 0 auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 70px;
        ul {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 1.90909px;
          }
          a {
            color: white;
            text-decoration: none;

            padding: 0 10px;
        }
        .menu {
            align-items:center;
            
        }
        .sub-logo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            justify-content: center;
            top: 10px;
            .logo-One {
                background: url("../images/icons/loop.svg")no-repeat;
                height: 50px;
                width: 50px;
            }
            .logo-Two {
                box-sizing: border-box;
                background: url("../images/icons/icon.svg")no-repeat;
                height: 50px;
                width: 50px;
            }
            .logo-Three {
                background: url("../images/icons/Shape.svg")no-repeat;
                height: 50px;
                width: 50px;
            }
        }
        .nav__logo {
            left: 5%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            top: 10px;
            height: 56px;
            width: 56px;
            background: url("../images/logo.png")no-repeat;
            border: blue solid 2px;
            
        }
        
        @media (max-width:768px) {
            .nav {
                display: flex;
                
            }
            .menu {
            display: none;
            
            }
            .trigger {
                float: left;
            align-items: center;
            justify-content: center;
            z-index: 100;
            padding: 5px;
              display: flex;
              flex-direction: column;
              margin: 3px;
              cursor: pointer;
              left: 20%;
            }
            .trigger i {
              display: block;
              width: 30px;
              height: 6px;
              margin: 4px auto;
              background:white;
            }
            .show {
            padding: 68px 0;
              display: flex;
              position: absolute;
              height: 600px;
              align-items: flex-start;
              flex-direction: column;
              justify-content: flex-start;
              line-height: 36px;
            }
            .sub-logo {
                position: relative;   
            }
            .nav__logo {
                display: flex;
                justify-content: flex-start;
                position: absolute;
                margin-left: 25px;
            }
            .logo-One {
                display: none;
            }
            .logo-Two {
                filter:hue-rotate(500deg) brightness(9.5) saturate(600%);
            }
            .logo-Three {
                filter:hue-rotate(500deg) brightness(9.5) saturate(600%);
            }

          }    
}