
$bg-color: pink;
body {
 background: $bg-color;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1248px;
    padding: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color:rgba(25, 23, 32, 0.47);
    margin: 0 auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 70px;
        ul {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 1.90909px;
          }
          a {
            color: white;
            text-decoration: none;

            padding: 0 10px;
        }
        .menu {
            align-items:center;
            
        }
        .sub-logo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            justify-content: center;
            top: 10px;
            .logo-One {
                background: url("../images/icons/loop.svg")no-repeat;
                height: 50px;
                width: 50px;
            }
            .logo-Two {
                box-sizing: border-box;
                background: url("../images/icons/icon.svg")no-repeat;
                height: 50px;
                width: 50px;
            }
            .logo-Three {
                background: url("../images/icons/Shape.svg")no-repeat;
                height: 50px;
                width: 50px;
            }
        }
        .nav__logo {
            left: 5%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            top: 10px;
            height: 56px;
            width: 56px;
            background: url("../images/logo.png")no-repeat;
            
            
        }
        
        @media (max-width:768px) {
            .nav {
                display: flex;
                
            }
            .menu {
            display: none;
            
            }
            .trigger {
                float: left;
            align-items: center;
            justify-content: center;
            z-index: 100;
            padding: 5px;
              display: flex;
              flex-direction: column;
              margin: 3px;
              cursor: pointer;
              left: 20%;
            }
            .trigger i {
              display: block;
              width: 30px;
              height: 6px;
              margin: 4px auto;
              background:white;
            }
            .show {
            padding: 68px 0;
              display: flex;
              position: absolute;
              height: 600px;
              align-items: flex-start;
              flex-direction: column;
              justify-content: flex-start;
              line-height: 36px;
            }
            .sub-logo {
                position: relative;   
            }
            .nav__logo {
                display: flex;
                justify-content: flex-start;
                position: absolute;
                margin-left: 25px;
            }
            .logo-One {
                display: none;
            }
            .logo-Two {
                filter:hue-rotate(500deg) brightness(9.5) saturate(600%);
            }
            .logo-Three {
                filter:hue-rotate(500deg) brightness(9.5) saturate(600%);
            }

          }    
}
// HEADPHONE
.content__headphone {
    background: #2B2835;
    width: 100%;
    height: 616px;

    .wrapper-headphone {
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        padding: 212px 0;
        .headphone-title{
            float: left;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            color: #F2F2F2;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1px;
        }
        .headphone-text {
          display: flex;
          font-weight: bold;
          font-size: 40px;
          margin: 0;
          line-height: 43px;
          position: relative;
          color: #FFFFFF;
        }
        .headphone-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0;
            .headphone-price  {
            margin-right: 10%;
            display: flex;
            color: #F2F2F2;
            font-weight: normal;
            font-size: 40px;
            line-height: 49px;
            justify-content: center;
            align-items: center;
            }
            button{
             
              height: 41px;
              width:170px;
              color: black;
              background: #00B0FF;
              border-radius: 100px;
              text-transform: uppercase;
              font-style:bold;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              border-color:#00B0FF;
            }

        }
 
    
        .button:hover{
          background: white;
          color: black;
          border-color:#FFF;
        }
        .headphone-description{
          margin:0;
          align-items: center;
          position: relative;
          flex-direction: row;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: #00B0FF;
        }
    }
    .headphone-image{
        position: absolute;
        display: flex;
        max-width: 800px;
        }
        img {
            display: block;
            max-width: 800px;
            width: 100%;
            top: 0;
            left: 0;
        }
        @media (max-width:1248px) {
            .headphone-image {
                align-items: center;
            }
        }
        @media (max-width:1196px) {
            .headphone-image {
                justify-content: center;
                display: flex;
                align-items: center;
                margin: 0 auto;
                width: 100%;
                padding: 5px;
                z-index: 1;
                order: 1;
                height: auto;
                .img {
                    width: 100%;
                    height: auto;
                }
            }
            .wrapper-headphone {
                color: black;
                position: relative;
                margin-top: 100px;
                order: 2;
                width: 100%;
                .headphone-description {
                    color: black;
                }
                .headphone-price {
                    color: black;
                }
                .headphone-text {
                    color: black;
                }
                .headphone-title {
                    color: black;
                }
                .headphone-button {
                    .headphone-price  {
                        color: black;
                    }

                }
               
            }
        }
  }

// POWERBEATS
.content__powerbeats {
    width: 100%;
    height: 844px;
    background: url("../images/background.png") no-repeat;
    display: flex;
    z-index: 10;
    background-size: cover;
  }
  .powerbeats-wrapper {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(2,671px);
      grid-template-rows: 800px;
  }
  .powerbeats-image {
    background: url("../images/powerbeats.png")no-repeat;
    width: 100%;
    min-width: 360px;
    z-index: 10;
    display: grid;
    position: relative;
    
  }
  .powerbeats-text {
    align-items: center;
    display: flex;
    width: 100%;
  }
  .powerbeats-text ul{
    display: inline;
    flex-direction: row;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 27px;
    color: white;
  }
  .powerbeats_button {
    padding-top: 70px;
    display: flex;
  }
  .powerbeats_button input{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 27px;
    margin: auto 0;
    color: white;
    margin-left: 41px;
    width: 170px;
    height: 41px;
    background: #000000;
    border-radius: 100px;
    border:1px solid black;
    text-transform: uppercase;
  }
  .powerbeats_button input:hover{
    color: black;
    background: yellow;
    border:1px solid yellow;
  }
  .powerbeats_price{
    justify-content: center;
    margin: auto 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #FFFF00;
  }
  .powerbeats-title {
    position: relative;
    display: block;
    padding-top: 7px;
    padding-bottom: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
  }
  @media (max-width:1247px){
      .powerbeats-wrapper {
          grid-template-columns: 1fr;
          grid-template-rows: 375px;
      }
      .powerbeats-image{
          z-index: 200;
          order: 1;
          min-width: 360px;
          width: 100%;
      }
      .powerbeats-text{
          order: 2;
      }
  }
//  СCONTENT BEATS
.content__beats{
    position: relative;
    width:100%;
    height: 844px;
    background: #F4F4F4;
    mix-blend-mode: normal;
    display: block;
    z-index: 10;

.beats-wrapper {
    width: 100%;
    display: flex;
    height: 844px;
    .beats-text {
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        justify-content: center;
        color: #030303;
        background: #F4F4F4;
      }
      .title_beats {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 55px;
        /* identical to box height, or 110% */
        margin: 20px 0;
        color: #2B2835;
        }
      .beats_button {
        display: flex;
        padding: 86px 0;
      }
      .beats_button input{
        padding: 5px 5px;
        margin: 5px 5px;
        display: flex;
        justify-content: center;
        color: white;
        border:solid 1px black;
        background: #000000;
        border-radius: 100px;
        height: 41px;
        width: 110px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
      }
      .beats_button input:hover{
        color: black;
        background: yellow;
        border:1px solid yellow;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
      }
      .beats_price{
        display: flex;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 49px;
        /* identical to box height */
        color: #000000;
      }
      .beats-img {
        display: flex;
        background: url("../images/head.png")no-repeat;
        position:relative;
        height: auto;
        width: 54%;
        min-width: 200px;
        z-index: 10;
        align-items: flex-end;
      }
  }
}
//  KARTOCHKI MEDIA 
@media  (max-width:1248px){
    .item_pods {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
  }
  @media  (max-width:820px){
    .item_pods {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media  (max-width:540px){
    .item_pods {
        grid-template-columns: repeat(1, 1fr);
    }
  }