.container {
  /* width: 1105px; */
  margin: 0 auto;
  position: absolute;
  left: 48%;
  top: 20%;
}
.content__headphone {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background: #2B2835;
  background-size: 100%;
  flex-grow: 10px;
  color: white;
  padding-bottom: 20px;
}
.headphone-title{
  align-items: flex-start;
  position:relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;

}
.headphone-text {
  /* align-items: cent; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  display: flex;
  position: relative;
  color: #FFFFFF;
}
.headphone-price  {
  display:inline;
  color: #FFFFFF;
  position: relative;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}

.headphone-button button{
  margin-top: 5px;
  margin-right: 115px;
  float: right;
  display: block;
  height: 41px;
  width:170px;
  color: black;
  background: #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
  font-style:bold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-color:#00B0FF;
}

.button:hover{
  background: white;
  color: black;
  border-color:#FFF;
}
.headphone-description{
  margin-top: 17px;
  align-items: center;
  position: relative;
  flex-direction: row;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 151% */
  color: #00B0FF;
}
.headphone__image{
position: relative;
padding-bottom: 10px;
height: 616px;
  }
.wirelles__speaker {
  height: 644px;
  display: block;
  position: relative;
  margin-top:15%;
}
.wirelles-wrapper {
  margin: 0 auto;
  width: 1248px;
  display: grid;
  grid-template-columns: 572px 531px;
  grid-template-rows: 484px auto;
}
.wirelles-wrapper img {
width: 100%;
height: 100%;
}
.wirelles-speaker {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
.wirelles-description{
  order: 1;
  color: #2B2835;
}
.wirelles-title {
  margin: 7px 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  color: #2B2835;
}
.wirelles-subtitle {
  margin: 20px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 55px;
  color: #2B2835;
}
.wirelless-colors img{
  display: grid;
  order: 2;
}
.wirelles-color {
  margin: 11px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
}
.wirelles-rectangl {
  display: flex;
}
.item-color {
  border-radius: 100px;
  background: #FFFFFF;
  border: 1px solid white;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
  height: 37px;
  width: 37px;
}
.item-color2 {
  margin-left: 10px;
  position: relative;
  height: 37px;
  width: 37px;
  border-radius: 100px;
  background-color: red;
  border: 1px solid red;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
}

.item-color3 {
  margin-left: 10px;
  border-radius: 100px;
  height: 37px;
  width: 37px;
  background: #000000;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
}
.wirelles_button {
  margin-top: 51px;
  display: flex;
}
.wirelles_button input {
  margin-top: 5px;
  display: block;
  text-transform: uppercase;
  margin-left: 41px;
  color: white;
  height: 41px;
  width: 120px;
  background: #000000;
  border-radius: 100px;
}
.wirelles_button input:hover {
  color: black;
  background: yellow;
  border:1px solid yellow;
}
.wirelles_price {
  display: block;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.wirelles-info {
  margin-top: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
}

.wrapper {
  margin: 0 auto;
  width: 1248px;
  display: flex;
  height: 844px;
}
.content__powerbeats {
  width: 100%;
  height: 844px;
  background: url("../../images/background.png") no-repeat;
  display: flex;
  z-index: 10;
  background-size: cover;
}
.powerbeats-image {
  background: url("../../images/powerbeats.png")no-repeat;
  max-width:50%;
  z-index: 10;
  display: flex;
  position: relative;
}
.powerbeats-text {
  align-items: center;
  display: flex;
  width: 100%;

}
.powerbeats-text ul{
  display: inline;
  flex-direction: row;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 27px;
  color: white;
}
.powerbeats_button {
  padding-top: 70px;
  display: flex;
}
.powerbeats_button input{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 27px;
  margin: auto 0;
  color: white;
  margin-left: 41px;
  width: 170px;
  height: 41px;
  background: #000000;
  border-radius: 100px;
  border:1px solid black;
  text-transform: uppercase;
}
.powerbeats_button input:hover{
  color: black;
  background: yellow;
  border:1px solid yellow;
}
.powerbeats_price{
  justify-content: center;
  margin: auto 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #FFFF00;
}
.powerbeats-title {
  position: relative;
  display: block;
  padding-top: 7px;
  padding-bottom: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
}
 .powerbeat-button {
  justify-content: center;
  position: absolute;
  display: block;
  height: 41px;
  width:170px;
  color: black;
  background: #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
  font-style:bold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-color:#00B0FF;
}

.powerbeat-description{
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}
.powerbeat-price {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}
.content_beats{
  position: relative;
  width:100%;
  height: 844px;
  background: #F4F4F4;
  mix-blend-mode: normal;
  display: block;
  z-index: 10;
}
.item_pods {
  display: grid;
  grid-template-columns: repeat(4, 316px);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 29px;
  grid-row-gap: 1em;

}
.image_title {
  display: flex;
  position: relative;
  justify-content: center;
}
.wrapper-pods{
  margin: 0 auto;
  display: flex;
  justify-content: center;

}
.item-pods_text{
  margin-top: 30px;
  display: block;
  position: relative;
}
.text_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 55px;
  color: #2B2835;
}
.text_description{
  display: block;
  padding:5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #030303;
  }
.pods_price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #9D8220;
  padding: 5px 5px;
  }

.price_button {
  padding: 5px 5px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  }
.price_button input{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  display: block;
  background: #000000;
  height: 41px;
  width: 145px;
  border: solid 1px black;
  border-radius: 100px;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
}
.price_button input:hover{
  background: blue;
  border: solid 1px blue;
}
.item_box {

  position: relative;
  background: #F4F4F4;
  padding: 20px;
}
.item_box img {
  height: 17em;
}
.footer-logo {
  margin-left: 135px;
}
.last__item {
  position: relative;
  display: flex;
  background: #F4F4F4;
  margin: 106px 93px;
  justify-content: center;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #030303;
}
.item-content span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  color: #2B2835;
}
.item-content li {
  padding: 10px;
}
.item-content .mail{
  position: relative;
  height: 36px;
  width: 507px;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 18px;
  justify-content: center;
  opacity: 0.31;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #030303;
  mix-blend-mode: normal;
  opacity: 0.31;
}

.item-content .submit{
  position: relative;
  color: white;
  height: 41px;
  width: 507px;
  background: #00B0FF;
  border: solid 1px #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.footer {
  padding: 20px 0;
  margin: 0;
  display: grid;
  grid-gap:1em;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows: 1fr ;
  padding-top:10px;
  background: #2B2835;
  text-decoration: none;
}

.footer a {
  text-decoration:none;
}
.products__title span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.products__description a{
  margin-top: 20px 0;
  opacity: 0.47;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.support__title span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.support__description a{
  opacity: 0.47;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.company-title span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.company-description a{
  opacity: 0.47;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 31px;
  color: #FFFFFF;
}
.footer-icons {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  color: #FFFFFF;
}


.navbar__menu{
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  height: 78px;
  text-align: center;
  mix-blend-mode: normal;
  font-style: normal;
  text-transform: uppercase;
  justify-content: center;
  padding: 0;
  background-color:rgba(25, 23, 32, 0.47);
}
.navbar__menu ul {
  display: flex;
}
.navbar__menu ul:not(first-child){
  margin-right: 140px;
}
.navbar__icons{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 300px;
}
.search-icon {
  background: url("../../images/icons/loop.svg")no-repeat ;
  position: fixed;
  display: block;
  width: 25px;
  height: 25px;
  margin: 28px -200px;
  z-index: 10;
}
.user-icon {
  display: block;
  position: fixed;
  margin: 28px -130px;
  width: 25px;
  height: 25px;
  z-index: 10;
  background: url("../../images/icons/icon.svg") no-repeat;
}
.shape-icon {
  position: fixed;
  width: 25px;
  margin: 28px -50px;
  height: 25px;
  display:block;
  z-index: 10;
  background: url("../../images/icons/Shape.svg")no-repeat;
}
.navbar__logo {
  left: 94px;
  width: 49.87px;
  height: 49.87px;
  z-index: 10;
  top: 13px;
  position: fixed;
  background: url("../../images/icons/logo.svg") no-repeat;
}
.logo-dot {
  position: fixed;
  background: url("../../images/icons/logocircus.svg") no-repeat;
  left:111px;
  top:30px;
}
.user-icon {
  background: url("../../images/icons/icon.svg") no-repeat;
}
.content__beats{


  background: #F4F4F4;
}
.beats-text {
  margin-top: 15%;
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  justify-content: center;
  color: #030303;
  background: #F4F4F4;
}
.title_beats {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  /* identical to box height, or 110% */
  margin: 20px 0;
  color: #2B2835;
  }
.beats_button {
  display: flex;
  padding: 86px 0;
}
.beats_button input{
  padding: 5px 5px;
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  color: white;
  border:solid 1px black;
  background: #000000;
  border-radius: 100px;
  height: 41px;
  width: 110px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
}
.beats_button input:hover{
  color: black;
  background: yellow;
  border:1px solid yellow;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
}
.beats_price{
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  color: #000000;
}
.beats-img {
  display: flex;
  background: url("../../images/head.png")no-repeat;
  position:relative;
  height: 844px;
  width: 800px;
  z-index: 10;
  align-items: flex-end;
}
.footer-copyright {
  display: grid;
  grid-column: 3;
  padding: 0;
  margin: 0;
  align-items: center;
  width: auto;
  background-color: #2B2835;
}
.footer-copyright span {
  font-family: Montserrat;
  margin: 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 0 20px;
  width: 346px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.31;
}
