.container {
  position: relative;
  margin: 0 auto;
  height: 5130px;
  background: #FFFFFF;
}
.content__headphone {
  position: relative;
  width: 100%;
  height: 616px;
  display: flex;
  flex-direction: column;
  background: #2B2835;
  align-items: flex-end;
  justify-content: space-between;
  color: white;

}
.headphone-title{
  position: relative;
  top: 27%;
  right: 30.5%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 1px;
}
.headphone-text {
  font-family: Montserrat;
  top:12%;
  right: 10.1%;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  /* or 107% */
  position: relative;
  color: #FFFFFF;
}
.headphone-price  {
  display: flex;
  color: #FFFFFF;
  top:9%;
  right: 34.5%;
  position: relative;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}

.headphone-button button{
  position: absolute;
  display: block;
  bottom: 117%;
  right:20%;
  height: 41px;
  width:170px;
  color: black;
  background: #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
  font-style:bold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-color:#00B0FF;
}

.button:hover{
  background: white;
  color: black;
  border-radius: 100px;
    border-color:#FFF;
}
.headphone-description{
  position: relative;
right: 14.68%;
bottom: 22%;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 151% */


color: #00B0FF;
}
.headphone__image{
  position: absolute;
  width: 856px;
  height: 766px;
  left: 0px;
  top: 0px;
  display: block;
  }
.wirelles_speaker{
  width: 1440px;
  height: 844px;
  display: block;
}

.content_powerbeats{
position: relative;
width: 1440px;
height: 844px;
background: linear-gradient(132.34deg, #E040FB 14.55%, #0A00B6 84.03%);
display: block;
}

.content_beats{
position: relative;
width: 1440px;
height: 844px;
background: #F4F4F4;
mix-blend-mode: normal;
display: block;
}

.item_pods {
display: grid;
grid-template-columns: repeat(4, 290px);
grid-auto-rows: minmax(100px, auto);
grid-column-gap: 20px;
grid-row-gap: 1em;
align-content: center;
padding-left: 97px;
}

.item_box {
  background: #F4F4F4;
  width: 290px;
  height: 543px;

}

.last_item {
  display: flex;
  background: #F4F4F4;
  height: 334px;
  margin-top: 106px;
  justify-content: center;

}

.email {
  width: 507px;
  height: 36px;
  margin-top: 107px;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 18px;
  justify-content: center;
  margin: 200px auto;
  opacity: 0.31;
}

.item_sugnup, button{
  margin-top: 250px;
  color: white;
  position: absolute;
  height: 41px;
  width: 507px;
  border-color: white;
  background: #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
}
.footer {
  height: 343px;
  width:auto;
  padding-top:10px;
  background: #2B2835;
  position: relative;
  text-decoration: none;
}
.footer_products{
  height: 55px;
  width: 49px;
  position: relative;

}
.footer_products, a {
  padding-left: 49px;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.navbar__icons{
  position: absolute;
display: flex;
align-items: stretch;
height: 300px;
}
.search-icon {
  background: url("../../images/icons/loop.svg") no-repeat;
  position: fixed;
  width: 25px;
  height: 25px;
  left: 1079px;
  top: 16px;
  z-index: 10;

}
.navbar__logo {
  left: 94px;
  width: 49.87px;
  height: 49.87px;
  z-index: 10;
  top: 13px;
  position: fixed;
  background: url("../../images/icons/logo.svg") no-repeat;
}
.logo-dot {
  position: fixed;
  background: url("../../images/icons/logocircus.svg") no-repeat;
  left:111px;
  top:30px;
}
.user-icon {
  background: url("../../images/icons/icon.svg") no-repeat;
}
.shape-icon {
  background: url("../../images/icons/Shape.svg") no-repeat;
}
