.container {
  position: relative;
  margin: 0 auto;

  background: #FFFFFF;
}
.content__headphone {
  position: relative;
  width: 100%;
  height: 616px;
  display: flex;
  flex-direction: column;
  background: #2B2835;
  align-items: center;
  justify-content:center;
  flex-grow: 10px;
  color: white;

}
.headphone-title{
  position:inherit;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 1px;
}
.headphone-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  /* or 107% */
  position: relative;
  color: #FFFFFF;
}
.headphone-price  {

  color: #FFFFFF;
  position: relative;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}

.headphone-button button{
  position: absolute;
  display: block;
  height: 41px;
  width:170px;
  color: black;
  background: #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
  font-style:bold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-color:#00B0FF;
}

.button:hover{
  background: white;
  color: black;
  border-radius: 100px;
    border-color:#FFF;
}
.headphone-description{
  position: relative;
  flex-direction: row;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 151% */
  color: #00B0FF;
}
.headphone__image{
  position: absolute;
  width: 856px;
  height: 766px;
  left: 0px;
  top: 0px;
  display: block;
  }
.wirelles_speaker {

  height: 844px;
  display: block;
}


.content__powerbeats {

width: 100%;
height: 844px;
background: url("../../images/background.png") no-repeat;
display: flex;
z-index: 10;
background-size: cover;


}
.powerbeats-image {
  background: url("../../images/powerbeats.png")no-repeat;
  max-width:50%;
  z-index: 10;
  display: flex;
}
.powerbeats-text {
  align-items: center;
  display: flex;
}
.powerbeats-text ul{
  display: inline;
  flex-direction: row;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: white;
}
.powerbeats-text h1 {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 55px;
/* identical to box height, or 110% */

text-transform: uppercase;
}
.powerbeat-info {

}
 .powerbeat-button {

  justify-content: center;
  position: absolute;
  display: block;
  height: 41px;
  width:170px;
  color: black;
  background: #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
  font-style:bold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-color:#00B0FF;
}

.powerbeat-description{
  display: flex;
  justify-content: center;
  position: relative;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
}
.powerbeat-price {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}
.content_beats{
position: relative;
width:100%;
height: 844px;
background: #F4F4F4;
mix-blend-mode: normal;
display: block;
z-index: 10;
}

.item_pods {
display: grid;
grid-template-columns: repeat(4, 290px);
grid-auto-rows: minmax(100px, auto);
grid-column-gap: 20px;
grid-row-gap: 1em;
align-content: center;
padding-left: 20%;
}

.item_box {
  position: relative;
  justify-content: center;
  background: #F4F4F4;
  width: 290px;
  height: 543px;

}
.footer-logo {
  margin-left: 135px;
  margin-top: 55px;
}
.last__item {

  position: relative;
  display: flex;
  background: #F4F4F4;
  margin: 106px 93px;
  justify-content: center;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #030303;
}
.item-content h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  /* identical to box height, or 110% */
  color: #2B2835;
}
.item-content li {
  padding: 10px;
}
.item-content .mail{
  position: relative;
  height: 36px;
  width: 507px;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 18px;
  justify-content: center;
  opacity: 0.31;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #030303;
  mix-blend-mode: normal;
  opacity: 0.31;
}

.item-content .submit{
  position: relative;
  color: white;
  height: 41px;
  width: 507px;
  background: #00B0FF;
  border-radius: 100px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-transform: uppercase;
}
.footer {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap:1em;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows: 1fr ;

  padding-top:10px;
  background: #2B2835;
  text-decoration: none;


}

.footer a {
    text-decoration:none;
}
.Products h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.Products  li{
  opacity: 0.47;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.Support h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.Support li{
  opacity: 0.47;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-Company h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  /* or 129% */
  color: #FFFFFF;
}
.footer-Company li{
  opacity: 0.47;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 31px;
  /* or 129% */
  color: #FFFFFF;
}
.footer-icons {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  /* or 129% */
  color: #FFFFFF;
}


.navbar__menu{
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  height: 78px;
  text-align: center;
  mix-blend-mode: normal;
  font-style: normal;
  text-transform: uppercase;
  justify-content: center;
  padding: 0;
  background-color:rgba(25, 23, 32, 0.47);
}
.navbar__menu ul {
  display: flex;
}
.navbar__menu ul:not(first-child){
  margin-right: 140px;
}
.navbar__icons{
position: absolute;
display: flex;
/* flex-direction: row-reverse; */
justify-content: flex-end;
margin: 0 auto;
padding: 0 20px;
width: 100%;
height: 300px;

}
.search-icon {
  background: url("../../images/icons/loop.svg")no-repeat ;
  position: fixed;
  display: block;
  width: 25px;
  height: 25px;
  margin: 28px -200px;
  /* left: 1079px;
  top: 16px; */
  z-index: 10;
}
.user-icon {
  display: block;
  position: fixed;
    margin: 28px -130px;
  width: 25px;
  height: 25px;
  z-index: 10;
  background: url("../../images/icons/icon.svg") no-repeat;
}
.shape-icon {
  position: fixed;
  width: 25px;
    margin: 28px -50px;
  height: 25px;
display:block;
  z-index: 10;
  background: url("../../images/icons/Shape.svg")no-repeat;
}
.navbar__logo {
  left: 94px;
  width: 49.87px;
  height: 49.87px;
  z-index: 10;
  top: 13px;
  position: fixed;
  background: url("../../images/icons/logo.svg") no-repeat;
}
.logo-dot {
  position: fixed;
  background: url("../../images/icons/logocircus.svg") no-repeat;
  left:111px;
  top:30px;
}
.user-icon {
  background: url("../../images/icons/icon.svg") no-repeat;
}
.content__beats{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 780px 660px;
  grid-auto-rows: 700px 700px;
  /* border: red solid 2px; */
  background: rgba(244, 244, 244, 0.53);
}
.beats-text {
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 27px;
margin: 205px 0;
padding-left: 93px;
color: #030303;
}
.beats-text h1 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 55px;
/* identical to box height, or 110% */
margin: 5px 0;
color: #2B2835;
}
.beats-img {
  background: url("../../images/head.png")no-repeat;
  position: relative;
  justify-content: center;
  right:100px;
  /* margin: 0 25px; */
  /* padding: 0 25px; */
}
.footer-copyright {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
  /* identical to box height */
  background-color: #2B2835;
}
.footer-copyright span {
  font-family: Montserrat;
  margin: 20px 0;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.31;
}
