<!DOCTYPE html>
<html>
<head>
  <title>My homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<body>
  <%= require('html-loader!../partials/nav.html') %>
<div class="container">
  <div class="content__headphone">
    <div class="content__headphone headphone-title">
        Beats Studio3 Wireless
    </div>
    <div class="content__headphone headphone-text">
      Experience your<br> music like never before.
    </div>
    <div class="content__headphone headphone-price">
      $299.95
    </div>
    <div class="content__headphone headphone-button">
      <button class="button" type="button" name="button">buy now</button>
    </div>
    <div class="content__headphone headphone-description">
      $60 Apple Music gift card with purchase of select Beats products.*
    </div>
  </div>
  <div class="headphone__image">
    <img src="images/icons/headphone.png">
  </div>
  <section class="wirelles_speaker">
    <div class="wirelles_intro">
      portable wirelles_speaker
      jghghghg
    </div>
  </section>
  <div class="content__powerbeats">

    <div class="content__powerbeats powerbeats-image">

    </div>
    <div class="content__powerbeat powerbeats-text">
      <ul>
        <li>Totally wireless high-performance earphones</li>
        <li><span class="powerbeats-title">Powerbeats Pro</span></li>
        <li>Up to 9 hours of listening time<br>
            Apple H1 Chip & Class 1 Wireless Bluetooth®<br>
            Sweat & water resistant<br>
            Adjustable, secure-fit earhooks</li>
        <section class="powerbeats_button">
            <span class="powerbeats_price">
                    $199.95
            </span>
                <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
        <span>$60 Apple Music gift card with purchase of select Beats products.*</span>
      </ul>
    </div>
  </div>
  </div>
  <div class="content__beats">
    <div class="content__beats beats-text">
      <ul>
          <li>Talk. Listen. Beats.</li>
          <li><p class="title_beats">Beatsˣ<p></li>
          <li>Up to 8 hours of battery life</li>
          <li>With Fast Fuel, a 5-minute charge = 2 hours of playback</li>
          <li>Sweat & water resistant</li>
          <li>Apple W1 Chip & Class 1 Wireless Bluetooth®</li>
          <section class="beats_button">
            <span class="beats_price">
              $199.95
            </span>
          <input type="button" name="pods-Buy_now" value="Buy Now">
          </section>
        </ul>

    </div>
    <div class="content__beats beats-img"></div>
  </div>
  <div class="item_pods">
    <div class="item_box">
    <section class="image_title">
      <img src="../../images/imagesCards/BitmapCardOne.png" alt="CardOne">
    </section>
    <section class="item-pods_text">
      <p class="text_title">
        <b>Beatsˣ</b>
      </p>
      <span class="text_description">
        Up to 8 hours of battery life<br>
        With Fast Fuel, a 5-minute charge = 2 hours of playback
      </span>
      <section class="price_button">
        <span class="pods_price">
          $299.95
        </span>
      <input type="button" name="pods-Buy_now" value="Buy Now">
      </section>
    </section>
    </div>
    <div class="item_box">
      <section class="image_title">
        <img src="../../images/imagesCards/BitmapCardTwo.png" alt="CardOne">
      </section>
      <section class="item-pods_text">
        <p class="text_title">
          <b>Beatsˣ</b>
        </p>
        <span class="text_description">
          Up to 8 hours of battery life<br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback
        </span>
        <section class="price_button">
          <span class="pods_price">
            $299.95
          </span>
        <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
      </section>
    </div>
    <div class="item_box">
      <section class="image_title">
        <img src="../../images/imagesCards/BitmapCardThree.png" alt="CardOne">
      </section>
      <section class="item-pods_text">
        <p class="text_title">
          <b>Beatsˣ</b>
        </p>
        <span class="text_description">
          Up to 8 hours of battery life<br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback
        </span>
        <section class="price_button">
          <span class="pods_price">
            $299.95
          </span>
        <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
      </section>
    </div>
    <div class="item_box">
      <section class="image_title">
        <img src="../../images/imagesCards/BitmapCardFour.png" alt="CardOne">
      </section>
      <section class="item-pods_text">
        <p class="text_title">
          <b>Beatsˣ</b>
        </p>
        <span class="text_description">
          Up to 8 hours of battery life<br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback
        </span>
        <section class="price_button">
          <span class="pods_price">
            $299.95
          </span>
        <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
      </section>
    </div>
    <div class="item_box">
      <section class="image_title">
        <img src="../../images/imagesCards/BitmapCardFive.png" alt="CardOne">
      </section>
      <section class="item-pods_text">
        <p class="text_title">
          <b>Beatsˣ</b>
        </p>
        <span class="text_description">
          Up to 8 hours of battery life<br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback
        </span>
        <section class="price_button">
          <span class="pods_price">
            $299.95
          </span>
        <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
      </section>
    </div>
    <div class="item_box">
      <section class="image_title">
        <img src="../../images/imagesCards/BitmapCardSix.png" alt="CardOne">
      </section>
      <section class="item-pods_text">
        <p class="text_title">
          <b>Beatsˣ</b>
        </p>
        <span class="text_description">
          Up to 8 hours of battery life<br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback
        </span>
        <section class="price_button">
          <span class="pods_price">
            $299.95
          </span>
        <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
      </section>
    </div>
    <div class="item_box">
      <section class="image_title">
        <img src="../../images/imagesCards/BitmapCardTwo.png" alt="CardOne">
      </section>
      <section class="item-pods_text">
        <p class="text_title">
          <b>Beatsˣ</b>
        </p>
        <span class="text_description">
          Up to 8 hours of battery life<br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback
        </span>
        <section class="price_button">
          <span class="pods_price">
            $299.95
          </span>
        <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
      </section>
    </div>
    <div class="item_box">
      <section class="image_title">
        <img src="../../images/imagesCards/BitmapCardSix.png" alt="CardOne">
      </section>
      <section class="item-pods_text">
        <p class="text_title">
          <b>Beatsˣ</b>
        </p>
        <span class="text_description">
          Up to 8 hours of battery life<br>
          With Fast Fuel, a 5-minute charge = 2 hours of playback
        </span>
        <section class="price_button">
          <span class="pods_price">
            $299.95
          </span>
        <input type="button" name="pods-Buy_now" value="Buy Now">
        </section>
      </section>
    </div>
  </div>
<div class="last__item">
  <div class="last__item item-content">
    <ul>
  <li><span>Hear it first</span></li>
    <li>Get updates on product drops, collaborations and all things Beats.</li>
    <li><input type="search" value="Enter your email" name="mail" class="mail"></li>
    <li><input type="submit" value="Sign up" name="submit" class="submit"></li>
  </ul>
  </div>
</div>
</div>
  <%= require('html-loader!../partials/footer.html') %>
</body>
</html>
